.container{
  display: grid;
  grid-template-columns: repeat(auto-fill, 1fr);
  gap: 2rem;
  justify-content: center;
}

@media screen and (min-width:768px) {
  .container{
    grid-template-columns: repeat(auto-fill, 120px);
    justify-content: stretch;
    gap: 1rem;
  }
}