.container{
  display: grid;
  grid-template-columns: repeat(auto-fill, 98px);
  gap: 1rem;
  justify-content: center;
}

@media screen and (min-width:768px) {
  .container{
    justify-content: stretch;
  }
}